/* - - - Text Styling - - -*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre:300,400,700');

h1, h2, h3, h4 {
    font-family: "Averia Serif Libre", Georgia, serif;
    font-weight: 700;
    color: #40594C;
}

h1 {
    font-size: 6rem;
    text-align: center;
    color: #F5F5F5;

}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

    
p {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: #63403D;
}

@media screen and (max-width:600px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
}

a {
    color: #8EAF9D;
}

/* - - - NAV BAR - - -*/

header {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

#logo {
    width: 170px;
    height: auto;
    margin-left: 30px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a, nav button {
    color: #40594C;
    font-family: "Averia Serif Libre", Georgia, serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 0.4s;
}

nav a:hover {
    color: #8EAF9D;
}


/* - - - Dropdown Styles - - -*/

.dropdown {
    float: left;
    overflow: hidden;
    margin: 0 20px;
  }
  
  .dropdown .dropbtn {
    cursor: pointer; 
    border: none;
    outline: none;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #40594C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f5f5f5;
  }
  
  .show {
    display: block;
  }

  button.dropbtn {
    background-color: #F5F5F5;
  }

/* - - - HERO SECTION - - - */

.hero {
    margin: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F5F5F5;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../Images/[Thai_FoodStyling]-300dpi.png) center/cover no-repeat;
}

.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero h2 {
    color: #F5F5F5;
}



@media screen and (max-width:600px) {
    .hero-section {
        width: 100%;
        height: 20rem;
    }

}


/* - - - ABOUT SECTION - - - */

.about-section {
    background-color: #63403D;
    color: #F5F5F5;
    width: 100%;
    text-align: center;
    padding: 10px 50px 80px 0px;
}

.about-text {
    color: #F5F5F5;
    text-align: center;
    margin: 0px;
}

.about-eyebrow {
    color: #F5F5F5;
    font-size: 14px;
    padding: 30px;
}


body {
    background-color: #F5F5F5;
}

footer {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color:#63403D
}

/* - - - SERVICE CARDS - - - */

.h2-services {
    padding: 50px 0px 0px 50px;
    margin: 0;
}

.test-column p, h3 {
    color: #40594C;
}

.test-column {
    float: left;
    width: 25%;
    height: ;
    padding: 20px 50px 40px 50px;
}

.test-column::after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 900px) {
    .test-column {
        width: 50%;
    }  
}

@media screen and (max-width: 600px) {
    .test-column {
        width: 100%;
    }  
}

* {
    box-sizing: border-box;
}


.featured-banner {
    background-color: #63403D;
    width: 100%;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-banner h3 {
    color: #F5F5F5;
}

.contact-section {
    background-color: #63403D;
    padding: 50px 30px 50px 50px;
}

.contact-section h2, p {
    color: #F5F5F5;
}

/* - - - Image Gallery - - - */

.image-grid-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 0px 0px 10px 0px;
  }
  
  /* Create four equal columns that sits next to each other */
  .image-grid-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .image-grid-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .image-grid-column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .image-grid-column {
      flex: 100%;
      max-width: 100%;
    }
  }


/* - - - Button Styling - - - */

.primary-button {
    background-color: #40594C;
    border: none;
    color: #F5F5F5;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    padding: 12px 28px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    
}

.primary-button:hover {
    background-color: #8EAF9D;
    color: white;
}

.secondary-button {
    background-color: #F5F5F5;
    border: 2px solid #40594C;
    color: #40594C;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    padding: 12px 28px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    
}

.secondary-button:hover {
    color: #8EAF9D;
    border: 2px solid #8EAF9D;
}

.primary-inactive-button {
    background-color: #63403D;
    border: none;
    color: #F5F5F5;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    padding: 12px 28px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    
}

.primary-inactive-button:hover {
    cursor: not-allowed;
}

.secondary-inactive-button {
    background-color: #F5F5F5;
    border: 2px solid #63403D;
    color: #63403D;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    padding: 12px 28px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    
}

button.secondary-inactive-button:hover {
    cursor: not-allowed;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #F5F5F5;
    border: 2px solid #40594C;
    color: #40594C;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    padding: 12px 28px;
    margin: 4px 2px;
  }
  
  #myBtn:hover {
    color: #8EAF9D;
    border: 2px solid #8EAF9D;
  }

/* Footer Section */

  .footer {
    position: relative;
    width: 100%;
    background: #f5f5f5;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #40594C;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #40594C;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #40594C;
    margin: 0 10px;
    font-size: 1rem;
  }
/* - - - CONTACT FORM START - - - */

#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}

/* - - - CONTACT FORM END - - - */

